language: scala
jdk: openjdk8
dist: trusty
sudo: required

git:
  depth: false

before_install:
- curl https://raw.githubusercontent.com/scala-native/scala-native/master/scripts/travis_setup.sh | bash -x

stages:
  - name: test
  - name: release
    if: (branch = master AND type = push) OR (tag IS present)
jobs:
  include:
  - scala: 2.11.12
  - stage: release
    script: sbt ci-release

script:
- ./test.sh
- sbt ++${TRAVIS_SCALA_VERSION} test

cache:
  directories:
  - $HOME/.cache
  - $HOME/.ivy2/cache
  - $HOME/.sbt
branches:
  only:
  - master
